{% extends "base.html" %}
{% load wagtailcore_tags blog_tags %}

{% block category_nav %}
    {% categories %}
{% endblock %}

{% block content %}

{% if not search %}
<div class="container">

  {% if page.main_featured_post %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{ page.main_featured_post.title }}</h1>
        <p class="lead my-3">{{ page.main_featured_post.specific.intro|richtext }}</p>
      <p class="lead mb-0"><a href="{% pageurl page.main_featured_post %}" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  {% endif %}

  <div class="row mb-2">
    {% if page.featured_post1 %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">{{ page.featured_post1.specific.categories.first }}</strong>
            <h3 class="mb-0">{{ page.featured_post1.title }}</h3>
          <div class="mb-1 text-muted">{{ page.featured_post1.latest_revision_created_at.date }}</div>
          <p class="card-text mb-auto">{{ page.featured_post1.specific.intro|richtext }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.featured_post2 %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">{{ page.featured_post1.specific.categories.first }}</strong>
            <h3 class="mb-0">{{ page.featured_post2.title }}</h3>
          <div class="mb-1 text-muted">{{ page.featured_post2.latest_revision_created_at.date }}</div>
          <p class="card-text mb-auto">{{ page.featured_post2.specific.intro|richtext }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    </div>
</div>
{% endif %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
          {{ page.title }}{% if search %}, {{ search }}{% endif %}
      </h3>

      {% for post in blogpages %}
      <div class="blog-post">
          {% if post.specific.content_location %}
          <h2 class="blog-post-title"><a href="{{ post.specific.content_location }}" target="_blank" title="{{ post.specific.content_location }}">{{ post.title }}</a></h2>
          <small><em>This post is external to PrologHub</em></small>
          {% else %}
          <h2 class="blog-post-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
          {% endif %}
	  <p class="blog-post-meta">{{ post.latest_revision_created_at.date }} by <a href="/?author={{ post.owner }}">{{ post.owner.first_name }} {{ post.owner.last_name }}</a></p>

          <div class="lead">{{ post.specific.intro|richtext }}</div>
          {% if post.specific.content_location %}
          <div class="text-right"><a href="{{ post.specific.content_location}}" target="_blank" title="{{ post.specific.content_location }}">Open link in new tab...</a></div>
          {% else %}
          <div class="text-right"><a href="{% pageurl post %}">Continue reading...</a></div>
          {% endif %}
          <hr/>
      </div><!-- /.blog-post -->
      {% empty %}
      <p class="lead">No Posts found</p>
      {% endfor %}

      <hr/>
      <nav class="blog-pagination">
          <a class="btn btn-outline-secondary{% if not blogpages.has_previous %} disabled"{% else %}" href="/?page={{ blogpages.previous_page_number }}"{% endif %}>Newer</a>
          <a class="btn btn-outline-primary{% if not blogpages.has_next %} disabled"{% else %}" href="/?page={{ blogpages.next_page_number }}"{% endif %}>Older</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
            {{ page.about|richtext }}
      </div>

      {% tags %}

      <!--
      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>
    -->

  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}
